extends layout
block content
    .container-article
        .full-article
            p#article-path
                span
                    a(href="/") होम
                span= ' > '
                span
                    a(href="/" + article.category)= hindiHeading
                span= ' > ' + article.title
            h1= article.title
            .article-illustration
                img(src=article.image.url)
                p= article.image.caption
            h3= article.subtitle
            - let DT = article.date.dayDB + ' ' + article.date.monthDB + ' ' + article.date.yearDB
            if article.time.hourDB < 12
                - DT += ' ' + article.time.hourDB + ':' + article.time.minuteDB + ' AM IST'
            else if article.time.hourDB == 12
                - DT += ' ' + article.time.hourDB + ':' + article.time.minuteDB + ' PM IST'
            else
                - DT += ' ' + (article.time.hourDB - 12) + ':' + article.time.minuteDB + ' PM IST'
            p#datetime= DT
            p#by= article.by
            p#content
                span#location= article.location + ':'
                span#content= article.content.para1
            p#content= article.content.para2
            p#content= article.content.para3
            p#content= article.content.para4
            p#content= article.content.para5
        .related-articles.mini-articles-list
            h3 संबंधित आलेख
            each relArticle, i in relArticlesList
                if i < 5 && relArticle.id != article.id
                    .mini-article-item
                        .mini-article-item-left
                            h2
                                a(href="/article/"+relArticle.id)= relArticle.title
                            - let DT = article.date.dayDB + ' ' + article.date.monthDB + ' ' + article.date.yearDB
                            if article.time.hourDB < 12
                                - DT += ' ' + article.time.hourDB + ':' + article.time.minuteDB + ' AM IST'
                            else if article.time.hourDB == 12
                                - DT += ' ' + article.time.hourDB + ':' + article.time.minuteDB + ' PM IST'
                            else
                                - DT += ' ' + (article.time.hourDB - 12) + ':' + article.time.minuteDB + ' PM IST'
                            p#datetime= DT
                            p= relArticle.subtitle
                        .mini-article-item-right
                            img(src=relArticle.image.url)