extends layout
block head
    if(hindiHeading === 'हेडलाइंस')
        title बिहार बानी - बिहार की आवाज़
    else
        title= hindiHeading + " - बिहार बानी"
block content
    .mini-articles-list
        .breaking-news
            p
                each article, i in articles
                    if i < 5
                        a(href="/article/"+article.id)= article.title
                        if i < 4
                            span(style="margin: 0 10px;") &bull;
        h3= hindiHeading
        each article, i in articles
            .mini-article-item
                .mini-article-item-left
                    h2
                        a(href="/article/"+article.id)= article.title
                    - let DT = article.date.dayDB + ' ' + article.date.monthDB + ' ' + article.date.yearDB
                    if article.time.hourDB < 12
                        - DT += ' ' + article.time.hourDB + ':' + article.time.minuteDB + ' AM IST'
                    else if article.time.hourDB == 12
                        - DT += ' ' + article.time.hourDB + ':' + article.time.minuteDB + ' PM IST'
                    else
                        - DT += ' ' + (article.time.hourDB - 12) + ':' + article.time.minuteDB + ' PM IST'
                    p#datetime= DT
                    p= article.subtitle
                .mini-article-item-right
                    img(src=article.image.imgPath)